:root{
    --genius-bg-color: #151D3B;
    --genius-blue: #4D77FF;
    --genius-red: #E83A14;
    --genius-yellow: #FFD365;
    --genius-green: #00C897
}

body {
    margin: 0%;
    background-color: var(--genius-bg-color);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 
    'green red'
    'yellow blue';
    gap: 10px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}
.blue{
    grid-area: blue;
    background-color: var(--genius-blue);
    border-bottom-right-radius: 100%;
}
.green{
    grid-area: green;
    background-color: var(--genius-green);
    border-top-left-radius: 100%;
}
.yellow{
    grid-area: yellow;
    background-color: var(--genius-yellow);
    border-bottom-left-radius: 100%;
}
.red{
    grid-area: red;
    background-color: var(--genius-red);
    border-top-right-radius: 100%;
}

.selected-color{
    opacity: 0.8;
}
.score-record{
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 208, 208);
    width: 100px;
    height: 60px;
    justify-content: center;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}
